.navbar-light {
	.navbar-brand {
		color: #fff;
		font-family: "Rubik", sans-serif;
		&:hover {
			color: #fff;
			font-family: "Rubik", sans-serif;
		}
	}
	.navbar-nav {
		.nav-link {
			color: #fff;
			font-family: "Rubik", sans-serif;
			&:hover {
				color: #fff;
				font-family: "Rubik", sans-serif;
			}
			&:visited {
				color: #fff;
				font-family: "Rubik", sans-serif;
			}
		}
	}
}

.navbar.scrolled {
  background-color: #36454f;
  transition: background 050ms;
}

/***Hero**/

.hero {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  height: 75vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
  .btn {
    background-color: rgba(61, 90, 255, 0.85);
    border: 3px solid #fff;
    border-radius: .75em;
    color: inherit;
    display: block;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1em;
    text-decoration: none;
    width: 200px;
  }
}

/***Map***/
#map {
  height: 600px;
}

.section-heading {
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}


.search-input {
  font-size: 1em;
  margin-top: 2em;
  width: 100%;
}

