/*
COLORS:

Bright yellow : #FAED26
Deep navy gray: #46344E
Charcoal grey: #5A5560
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

/***Header**/

.header {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.8)), url(../images/hero.jpg);
  background-position: top;
  background-size: contain;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh; 
}

.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #FAED26;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.45rem;
}

.btn:link,
.btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/***How-To***/
.how-to {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 25rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(70, 52, 78), rgba(90, 85, 96));
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight:700;
  text-transform: uppercase;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size:1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.composition {
  position: relative;
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(.9);
}

.composition__photo {
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 2rem;
  position: absolute;
  transition: all .2s translateY(-.5rem);
  width: 55%;
}

.composition__photo--p1 {
  left:0;
  top:-2rem;
}

.composition__photo--p2 {
  right:0;
  top: 2rem;
}

.composition__photo--p3 {
  left:20%;
  top:10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #FAED26;
  transform: scale(1.05);
  box-shadow:  0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

/***Section-Filter***/
.section-filter {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.4));
  background-position: top;
  background-size: contain;
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
  height: 40vh; 
}

.form-group {
  margin-top: 4rem;
}

.form-check-label {
  color:#fff;
  font-size: 1.5rem;
}

.btn-yellow {
  background-color: #FAED26;
  color: #777;
}


/***Section-Map***/


#map {
  height: 50rem; }

.section-heading {
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  text-align: center; }

.search-input {
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 100%; }

/**Section-Results**/

.section-results {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem;
}

#resultsTable {
  width: 100%; }

/**Footer**/
.footer {
  background-color: #5A5560;
  display: flex;
  justify-content: center;
  min-height: 10rem;
}

.footer-icon a i {
  color: #FAED26;
  font-size: 4rem;
  padding-top: 3rem;
}