/*
COLORS:

Bright yellow : #FAED26
Deep navy gray: #46344E
Charcoal grey: #5A5560
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

/***Navbar**/
.nav-checkbox {
  display: none;
}

.nav-checkbox:checked + .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked + .nav-button .nav-icon::before {
  top: 0;
  transform: rotate(45deg);
}

.nav-checkbox:checked + .nav-button .nav-icon::after {
  top: 0;
  transform: rotate(-45deg);
}


.nav-checkbox:checked ~ .nav-background {
  transform: scale(80);
}

.nav-checkbox:checked ~ .nav__outer {
  opacity: 1;
  width: 100%;
}


.nav-button {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 7rem;
  position: fixed;
  right: 6rem;
  text-align: center;
  top: 6rem;
  width: 7rem;
  z-index: 2000;
}

.nav-button:hover .nav-icon:before {
  top: -1rem;
}

.nav-button:hover .nav-icon:after {
  top: 1rem;
}

.nav-background {
  background-image: radial-gradient(rgba(70, 52, 78), rgba(90, 85, 96));
  border-radius: 50%;
  height: 6rem;
  position: fixed;
  right: 6.5rem;
  top: 6.5rem;
  /*https://easings.net/en#easeInOutCirc*/
  transition: transform .6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: 6rem;
  z-index: 1000;
}

.nav-icon {
  margin-top: 3.5rem;
  position: relative
}


.nav-icon,
.nav-icon::before,
.nav-icon::after {
  background-color: #000000;
  display: inline-block;
  height: 2px;
  width: 3rem;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  left: 0;
  position: absolute;
  transition: all .2s;
}

.nav-icon::before {
  top: -.8rem;
}

.nav-icon::after {
  top: .8rem;
}



.nav__outer {
  height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .6s;
  width: 0;
  z-index: 1500;
}

.nav__list {
  left: 50%;
  list-style-type: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav__item {
  margin:1rem;
}

.nav__link:link,
.nav__link:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s;
}

.nav__link:hover,
.nav__link:active {
  background-position: 100%;
  color:#46344E
  transform: translateX(1rem);

}
/***Header**/

.header {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.8)), url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  height: 95vh; 
}

.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #FAED26;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.45rem;
}

.btn:link,
.btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/***How-To***/
.how-to {
  background-color: #f7f7f7;
  padding: 10rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(70, 52, 78), rgba(90, 85, 96));
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight:700;
  text-transform: uppercase;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size:1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}



.composition:hover .composition__photo:not(:hover) {
  transform: scale(.9);
}

.composition__photo {
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  outline-offset: 2rem;
  transition: all .2s translateY(-.5rem);
}


.composition__photo:hover {
  outline: .75rem solid #FAED26;
  box-shadow:  0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

/***Section-Filter***/
.section-filter {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.4));
  background-position: top;
  background-size: contain;
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
  height: 40vh; 
}

.form-group {
  margin-top: 4rem;
}

#radio-filter {
  display: none;
}
/*Hiding radio button to use custom button*/
.form-check-input {
  display: none;
}

.form-check-label {
  color:#fff;
  cursor: pointer;
  font-size: 1.6rem;
  padding-left: 4rem;
  position: relative;
}

.filter-radio-button {
  border: 5px solid #FAED26;
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  left: 0;
  position: absolute;
  top: -.4rem;
  width: 3rem;
}

.filter-radio-button::after {
  background-color: #FAED26;
  border-radius: 50%;
  content: "";
  display: block;
  height: 1.3rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s;
  width: 1.3rem;
}

/*Select sibling element, then child*/
.form-check-input:checked ~ .form-check-label .filter-radio-button:after {
  opacity: 1;
}

.btn-yellow {
  background-color: #FAED26;
  color: #777;
  margin-top: 1.6rem;
}


/***Section-Map***/


#map {
  height: 50rem; 
}

.search-input {
  border:none;
  font-family: inherit;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 100%; 
}

.search-input:focus {
  outline: none;
  border-bottom: 5px solid #FAED26;
  box-shadow: 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.search-input:focus:invalid {
  border-bottom: 3px solid #ff0000;
}

/**Section-Results**/

.section-results {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding: 20rem;
}

#resultsTable {
  color: #FAED26;
  font-size: 1.6rem;
  width: 100%; 
}

/**Footer**/
.footer {
  background-color: #5A5560;
  display: flex;
  justify-content: center;
  min-height: 10rem;
}

.footer-icon a i {
  color: #FAED26;
  font-size: 4rem;
  padding-top: 3rem;
}