/*CSS Variables*/
:root {
  --primarycolor: #5A5560;
  --secondarycolor:#46344E;
  --lightcolor:#FAED26;
  --backgroundcolor:#f7f7f7;
  --primaryfont:'Fjalla One', sans-serif;
  --secondaryfont:'Noto Sans', sans-serif;
}

/*Root Element Styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--backgroundcolor);
  font-family: var(--primaryfont);
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

/*Headings*/
.heading-primary {
  color: var(--lightcolor);
  margin-bottom: 6rem;
  margin-left: 2.25rem;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  margin-top: 12rem;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.45rem;
  margin-left: -1.5rem;
}

.heading-secondary {
  color: var(--primarycolor);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-tertiary {
  color: var(--secondarycolor);
  font-size: 1.8rem;
  font-weight:700;
  text-transform: uppercase;
}

/*Utility Classes*/
.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-padding-bottom-small {
  padding-bottom: 3rem;
}

.u-padding-top {
  padding-top: 2rem;
}


/***Navbar**/
/**Changes navbar background color on scroll**/
.navbar.scrolled {
  background-color: var(--secondarycolor);
  transition: background 090ms;
}
/**Changes navbar toggler background to circle**/
.navbar-toggler {
  background-color: #f7f7f7;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}

.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2.75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s;
}
/**Navbar link items animation on hover**/
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  background-position: 100%;
  color:var(--primarycolor);
  transform: translateX(2rem);
}
/**Navbar icons display and margin**/
.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

/***Header**/

.header {
  background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.8)), url(../images/hero.jpg);
  background-position: center center;
  background-size: cover;
  height: 95vh; 
}
/**Positions logo in the top left corner**/
.logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}
/**Centres the text box horizontally**/
.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/**Hero button**/
.btn {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
}
/**Gives slight box-shadow on hover**/
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/***How-To***/
/**Section has all over padding**/
.how-to {
  padding: 2rem;
}

.paragraph {
  color: inherit;
  font-size: 1.6rem;
  font-family:var(--secondaryfont);
}
/**Images are slightly rounded with a box-shadow**/
.composition__photo {
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

/***Section-Filter***/
.section-filter {
  height: 30rem;
}

.form-group {
  margin-top: 4rem;
}
/**Set to display:none until user clicks on the search input**/
#radio-filter {
  display: none;
}
/*Hiding radio button to use custom button*/
.form-check-input {
  display: none;
}

.form-check-label {
  color:inherit;
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 4rem;
  position: relative;
}
/**Pseudo radio-button styles outer**/
.filter-radio-button {
  border: 5px solid var(--lightcolor);
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  left: 0;
  position: absolute;
  top: -.4rem;
  width: 3rem;
}
/**Pseudo radio-button styles inner**/
.filter-radio-button::after {
  background-color: var(--lightcolor);
  border-radius: 50%;
  content: "";
  display: block;
  height: 1.3rem;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s;
  width: 1.3rem;
}

/*Select sibling element, then child. Created checked effect on click*/
.form-check-input:checked ~ .form-check-label .filter-radio-button:after {
  opacity: 1;
}

.btn-yellow {
  background-color: var(--lightcolor);
  color: var(--secondarycolor);
  margin-top: 1.6rem;
}

/***Section-Map***/
/**Map height must be set for map to appear**/
#map {
  height: 50rem; 
}

.search-input {
  border:none;
  font-family: inherit;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 100%; 
}
/**Bottom border turns positive color when user types in search input**/
.search-input:focus {
  outline: none;
  border-bottom: 5px solid var(--lightcolor);
  box-shadow: 0.1rem 1rem rgba(0, 0, 0, 0.1);
}
/**Search input is required, border-bottom appears red until user types in search input**/
.search-input:focus:invalid {
  border-bottom: 3px solid #ff0000;
}

#info-content {
  font-family: var(--secondaryfont);
}
/**Setting width of info-window category icon**/
.gm-style img {
  width: 5rem;
}

/**Section-Results**/

.section-results {
  padding: 5rem;
}
/**Setting table text color, font-size and making it take up 100% of available space**/
#resultsTable {
  color: var(--lightcolor);
  font-size: 1.6rem;
  width: 100%; 
}

/**Footer**/
/**Centering footer items, and giving footer minimum height**/
.footer {
  background-color: var(--primarycolor);
  display: flex;
  justify-content: center;
  min-height: 10rem;
}
/**Setting footer items color, size and top padding**/
.footer-icon a i {
  color: var(--lightcolor);
  font-size: 4rem;
  padding-top: 3rem;
}

/* Media Queries */
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 0;
  }
  .logo-box {
    left: 2rem;
    top:2rem;
  }
  .logo {
    height: 3rem;
  }
  .heading-primary {
    margin-bottom: 3rem;
  }
  .header {
    height: 75vh;
  }
  .paragraph {
    margin-bottom: 3rem;
  }
  .search-input {
    margin: 0 auto;
    width: 90%;
  }
  .form-check-label {
    font-size: 1rem;
  }
  .section-results {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    text-align: center;
  }
